
@font-face {
  font-family: 'Distrela';
  src: url('./components/fonts/Distrela.woff2') format('woff2'),
       url('./components/fonts/Distrela.woff') format('woff'),
       url('./components/fonts/Distrela-Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-logo {
  font-family: 'Distrela', serif !important;
}
